/dts-v1/;

#include <dt-bindings/clock/r8a7795-cpg-mssr.h>
#include <dt-bindings/interrupt-controller/arm-gic.h>

#include <dt-bindings/gpio/gpio.h>

/ {
	model = "XENVM-4.16";
	compatible = "xen,xenvm-4.16\0xen,xenvm";
	interrupt-parent = <0xfde8>;
	#address-cells = <0x02>;
	#size-cells = <0x02>;

	cpus {
		#address-cells = <0x01>;
		#size-cells = <0x00>;

		cpu@0 {
			device_type = "cpu";
			compatible = "arm,armv8";
			enable-method = "psci";
			reg = <0x00>;
		};
	};

	psci {
		compatible = "arm,psci-1.0\0arm,psci-0.2\0arm,psci";
		method = "hvc";
		cpu_off = <0x01>;
		cpu_on = <0x02>;
	};

	memory@40000000 {
		device_type = "memory";
		reg = <0x00 0x40000000 0x00 0x4000000>;
	};

	extal_clk: extal {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <16666666>;
	};

	extalr_clk: extalr {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <32768>;
	};
	
	gic: interrupt-controller@3001000 {
		compatible = "arm,cortex-a15-gic\0arm,cortex-a9-gic";
		#interrupt-cells = <0x03>;
		#address-cells = <0x00>;
		interrupt-controller;
		reg = <0x00 0x3001000 0x00 0x1000 0x00 0x3002000 0x00 0x2000>;
		linux,phandle = <0xfde8>;
		phandle = <0xfde8>;
	};

	cpg: clock-controller@e6150000 {
		compatible = "renesas,r8a7795-cpg-mssr";
		reg = <0 0xe6150000 0 0x1000>;
		clocks = <&extal_clk>, <&extalr_clk>;
		clock-names = "extal", "extalr";
		#clock-cells = <2>;
		#power-domain-cells = <0>;
		#reset-cells = <1>;
	};

	rst: reset-controller@e6160000 {
		compatible = "renesas,r8a7795-rst";
		reg = <0 0xe6160000 0 0x0200>;
	};

	scif_clk: scif {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <14745600>;
	};

	scif1: serial@e6e68000 {
		compatible = "renesas,scif-r8a7795",
			     "renesas,rcar-gen3-scif", "renesas,scif";
		interrupt-parent = <&gic>;
		reg = <0 0xe6e68000 0 64>;
		interrupts = <GIC_SPI 153 IRQ_TYPE_LEVEL_HIGH>;
		clocks = <&cpg CPG_MOD 206>,
			 <&cpg CPG_CORE R8A7795_CLK_S3D1>,
			 <&scif_clk>;
		clock-names = "fck", "brg_int", "scif_clk";
		resets = <&cpg 206>;
		pinctrl-0 = <&scif1_pins>;
		pinctrl-names = "default";
		uart-has-rtscts;

		status = "okay";
	};
	
	avb: ethernet@e6800000 {
		compatible = "renesas,etheravb-r8a7795",
			     "renesas,etheravb-rcar-gen3";
		reg = <0 0xe6800000 0 0x800>, <0 0xe6a00000 0 0x10000>;
		interrupts = <GIC_SPI 39 IRQ_TYPE_LEVEL_HIGH>,
			     <GIC_SPI 40 IRQ_TYPE_LEVEL_HIGH>,
			     <GIC_SPI 41 IRQ_TYPE_LEVEL_HIGH>,
			     <GIC_SPI 42 IRQ_TYPE_LEVEL_HIGH>,
			     <GIC_SPI 43 IRQ_TYPE_LEVEL_HIGH>,
			     <GIC_SPI 44 IRQ_TYPE_LEVEL_HIGH>,
			     <GIC_SPI 45 IRQ_TYPE_LEVEL_HIGH>,
			     <GIC_SPI 46 IRQ_TYPE_LEVEL_HIGH>,
			     <GIC_SPI 47 IRQ_TYPE_LEVEL_HIGH>,
			     <GIC_SPI 48 IRQ_TYPE_LEVEL_HIGH>,
			     <GIC_SPI 49 IRQ_TYPE_LEVEL_HIGH>,
			     <GIC_SPI 50 IRQ_TYPE_LEVEL_HIGH>,
			     <GIC_SPI 51 IRQ_TYPE_LEVEL_HIGH>,
			     <GIC_SPI 52 IRQ_TYPE_LEVEL_HIGH>,
			     <GIC_SPI 53 IRQ_TYPE_LEVEL_HIGH>,
			     <GIC_SPI 54 IRQ_TYPE_LEVEL_HIGH>,
			     <GIC_SPI 55 IRQ_TYPE_LEVEL_HIGH>,
			     <GIC_SPI 56 IRQ_TYPE_LEVEL_HIGH>,
			     <GIC_SPI 57 IRQ_TYPE_LEVEL_HIGH>,
			     <GIC_SPI 58 IRQ_TYPE_LEVEL_HIGH>,
			     <GIC_SPI 59 IRQ_TYPE_LEVEL_HIGH>,
			     <GIC_SPI 60 IRQ_TYPE_LEVEL_HIGH>,
			     <GIC_SPI 61 IRQ_TYPE_LEVEL_HIGH>,
			     <GIC_SPI 62 IRQ_TYPE_LEVEL_HIGH>,
			     <GIC_SPI 63 IRQ_TYPE_LEVEL_HIGH>;
		interrupt-names = "ch0", "ch1", "ch2", "ch3",
				  "ch4", "ch5", "ch6", "ch7",
				  "ch8", "ch9", "ch10", "ch11",
				  "ch12", "ch13", "ch14", "ch15",
				  "ch16", "ch17", "ch18", "ch19",
				  "ch20", "ch21", "ch22", "ch23",
				  "ch24";
		clocks = <&cpg CPG_MOD 812>;
		resets = <&cpg 812>;
		#address-cells = <1>;
		#size-cells = <0>;
		
		pinctrl-0 = <&avb_pins>;
		pinctrl-names = "default";
		phy-handle = <&phy0>;
		phy-mode = "rgmii-txid";
		status = "okay";

		phy0: ethernet-phy@0 {
			rxc-skew-ps = <1500>;
			reg = <0>;
			interrupt-parent = <&gpio2>;
			interrupts = <11 IRQ_TYPE_LEVEL_LOW>;
			reset-gpios = <&gpio2 10 GPIO_ACTIVE_LOW>;
		};
	};
	
	gpio2: gpio@e6052000 {
		compatible = "renesas,gpio-r8a7795",
			     "renesas,rcar-gen3-gpio";
		reg = <0 0xe6052000 0 0x50>;
		interrupts = <GIC_SPI 6 IRQ_TYPE_LEVEL_HIGH>;
		#gpio-cells = <2>;
		gpio-controller;
		gpio-ranges = <&pfc 0 64 15>;
		#interrupt-cells = <2>;
		interrupt-controller;
		clocks = <&cpg CPG_MOD 910>;
		resets = <&cpg 910>;
	};

	pfc: pin-controller@e6060000 {
		compatible = "renesas,pfc-r8a7795";
		reg = <0 0xe6060000 0 0x50c>;


		pinctrl-0 = <&scif_clk_pins>;
		pinctrl-names = "default";

		avb_pins: avb {
			mux {
				groups = "avb_link", "avb_mdio", "avb_mii";
				function = "avb";
			};

			pins_mdio {
				groups = "avb_mdio";
				drive-strength = <24>;
			};

			pins_mii_tx {
				pins = "PIN_AVB_TX_CTL", "PIN_AVB_TXC", "PIN_AVB_TD0",
				       "PIN_AVB_TD1", "PIN_AVB_TD2", "PIN_AVB_TD3";
				drive-strength = <12>;
			};
		};

		scif1_pins: scif1 {
			groups = "scif1_data_a", "scif1_ctrl";
			function = "scif1";
		};

		scif_clk_pins: scif_clk {
			groups = "scif_clk_a";
			function = "scif_clk";
		};
	};

	timer {
		compatible = "arm,armv8-timer";
		interrupts = <0x01 0x0d 0xf08 0x01 0x0e 0xf08 0x01 0x0b 0xf08>;
		interrupt-parent = <0xfde8>;
	};

	hypervisor {
		compatible = "xen,xen-4.16\0xen,xen";
		reg = <0x00 0x38000000 0x00 0x1000000 0x00 0x44000000 0x00 0xbc000000 0x02 0x00 0xfe 0x00>;
		interrupts = <0x01 0x0f 0xf08>;
		interrupt-parent = <0xfde8>;
	};
};
